.title h1 {
    margin-top: 40px;
    text-align: center;
    font-size: auto;
    font-weight: 700;
    text-transform: uppercase;
}

.cards {
    display: flex;
    justify-content: space-around ;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 60px 0;
}

.card-title {
    text-align: center;
}

.card-img {
    cursor: pointer;
}

.card-img:hover { 
    opacity: .8;
}


.image-style .icons {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    position: relative;
    bottom: 50%;
    opacity: 0;
}

.image-style .icons i {
    padding-left: 20px;
    color: white;
    cursor: pointer;
}

.icons i:hover .card-img {
    opacity: .5;
    
}

.image-style:hover .icons {
    opacity: 1 ;
}

.image-info {
    text-align: center;
    margin-bottom: 10px;
}


.card-body {
    text-align: center;
}

.btn {
    transform: translate(-27%);
}

.carousel {
    width: 100%;
    padding: 40px;
    display: flex;
    justify-content: space-around;
}

.carousel img {
    width: 100%;
    border-radius: 15px;
}

.fisrt-slide   {
    width: 30%;
}

.sec-slide {
    width: 50%;
}

.shadow-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.shadow-card {
    min-height: 14em;
    width: 20em;
    margin: 20px;
    overflow: hidden;
    padding: 10px;
    text-align: center;
    box-shadow: 0 5px  25px rgba(1 1 1 / .5);
}

.shadow-img img {
    width: 100%;
    border-radius: 15px;
    margin-bottom: 10px;
}

.image-title p {
    font-weight: 500;
    font-size: 1.1em;
}

.shadow-info p {
    font-weight: 700;
}

@media (max-width:500px) {
    .fisrt-slide , .sec-slide {
        width: 100%;
    }

    .carousel {
        width: 100%;
        display: block;
    }

    .shadow-card {
        display: flex;
        justify-content: space-around;
        flex-direction: row;
        flex-wrap: wrap;
        min-height: 6em !important;
        width: 7em !important;
        margin: 20px;
    }

    .image-title p {
        font-weight: 500;
        font-size: .6em;
    }

    .image-title h4 {
        font-size: .9em;
    }

    .image-style .icons {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 10px;
        position: relative;
        bottom: 50%;
        opacity: 0;
    }
}
