.ms-auto a {
    color: #222;
    font-size: 1.3em;
    padding-left: 50px;
    text-decoration: none;
    transition: .4s ease;
}

.ms-auto a:hover {
    text-decoration:underline;
    transform: scale(1.09);
}

.logo {
    color: aliceblue;
    font-size: 30px !important;
    background-color: red;
    width: 4em;
    height: 1.5em;
    text-align: center;
    border-radius: 0 12px 0 12px;
}

.Navigation {
    position: fixed;
    width: 100%;
    border-bottom: 2px solid #222 !important;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    background: #eeeeee75 !important;
    z-index: 22;
}

